@page "/authentication/forgotpassword"
@inject JSService _jsService
@inject AuthenticationService _authenticationService
@inject NavigationManager _navigationManager
@inject ToastService _toastService
@attribute [AllowAnonymous]

<div class="card-body">
    <p class="login-box-msg">Forgot your password? Don't worry! Enter your email below and we'll send you a link to setup a new one.</p>
    <EditForm Model="@user" OnValidSubmit="@SendResetPasswordLink">
        <DataAnnotationsValidator />

        <div class="form-group  mb-3">
            <div class="input-group">
                <InputText @bind-Value="user.Email" class="form-control" placeholder="Email" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <ValidationMessage For="@(() => user.Email)" />
        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block @(loading == true ? "disabled" : "")">
                    @if (loading)
                    {
                        <i class="fas fa-spinner fa-spin"></i>
                    }
                    else
                    {
                        <span> Request new password</span>
                    }
                </button>
            </div>
            <!-- /.col -->
        </div>
    </EditForm>
    <hr />
    <div class="social-auth-links text-center mt-2 mb-3">
        <a href="/authentication/login">
            <i class="fas fa-sign-in-alt mr-2"></i> I've remembered my password
        </a>
    </div>
</div>

@code {
    private bool loading = false;
    private UserSignIn user = new()
    {
        Password = "XXXXXXXXX"
    };

    public async Task SendResetPasswordLink()
    {
        loading = true;

        AuthenticationResult authenticationResult = await _authenticationService.SendResetPasswordLink(user.Email);

        if (authenticationResult.Success)
        {
            _navigationManager.NavigateTo("/authentication/login");
            await _toastService.ShowToastAsync($"Sent! Please check both your inbox and junk mail for the reset password link.", ToastType.Info);
        }
        else
        {
            await _toastService.ShowToastAsync(authenticationResult.Message, ToastType.Error);
        }

        loading = false;
    }
}
