<!-- Main Footer -->
<footer class="main-footer">
    <div class="float-right d-sm-block">
        <b>Version</b> 1.0.0
    </div>
    <strong><a href="https://betsoftware.com/">By Bet Software</a> © @string.Format("{0:yyyy}", DateTime.UtcNow)</strong>
</footer>