@inherits LayoutComponentBase
@inject NavigationManager _navManager
@inject IJSRuntime _jsRuntime

@if (_navManager.Uri.Contains("authentication"))
{
    <div class="login-page">
        <div class="login-box">
            <!-- /.login-logo -->
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="/" class="h1"><b>BET</b> Shop</a>
                </div>
                @Body
            </div>
            <!-- /.card -->
        </div>
    </div>
}
else if (_navManager.Uri.Contains("admin"))
{
    _jsRuntime.InvokeVoidAsync("setBodyClass", "admin");
    <div class="wrapper">
        <NavBar />
        <NavMenu />
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">

                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @Body
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
        @*<SideBar />*@
        <Footer />
    </div>
}
else
{
    _jsRuntime.InvokeVoidAsync("setBodyClass", "main");
    <div class="wrapper">
        <TopNavBar />
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                <div class="container">
                    @Body
                </div>
            </div>
        </div>
    </div>
}

@code {

}


