@inject ISessionStorageService _sessionStorage
@inject ILocalStorageService _localStorage
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="../../dist/img/bet-shop-logo.png" alt="BET Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">BET Shop</span>
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Right navbar links -->
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/checkout">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge badge-warning navbar-badge"><b id="chart_items">@cartCount</b></span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right" style="left: inherit; right: 0px;">
                    <AuthorizeView>
                        <Authorized>
                            <a href="/admin/products" class="nav-link">
                                <i class="fas fa-edit mr-2"></i> Edit Products
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" @onclick="@LogOut" class="dropdown-item">
                                <i class="fas fa-sign-in-alt mr-2"></i> Logout
                            </a>
                        </Authorized>
                        <NotAuthorized>
                            <a href="/authentication/login" class="dropdown-item">
                                <i class="fas fa-sign-in-alt mr-2"></i> Login
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/admin/products" class="nav-link">
                                <i class="fas fa-edit mr-2"></i> Edit Products
                            </a>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- /.navbar -->

@code {

    int cartCount = 0;
    protected override async Task OnInitializedAsync()
    {
        await GetChartItems();
    }

    public async Task GetChartItems()
    {
        var cartItems = await _localStorage.GetItemAsync<List<Product>>(StorageConstants.CartItems);
        if (cartItems != null)
        {
            cartCount = cartItems.Count;
        }
    }

    private async Task LogOut()
    {
        await ((CustomAuthonticationStateProvider)_authenticationStateProvider).LogoutUser();
        await _sessionStorage.RemoveItemAsync(StorageConstants.StoredUser);
        _navigationManager.NavigateTo("/");
    }
}
